<div>
    <h3 mat-dialog-title>Add User</h3>

    <div mat-dialog-content>
        <div>
            <mat-form-field class="input-width">
                <mat-label>Name</mat-label>
                <input matInput id="name" required [(ngModel)]="user.name" name="name">
            </mat-form-field>
        </div>
		<div>
            <mat-form-field class="input-width">
                <mat-label>Username</mat-label>
                <input matInput required [(ngModel)]="user.username" name="username">
            </mat-form-field>
        </div>
		<div>
            <mat-form-field class="input-width">
                <mat-label>Password</mat-label>
                <input matInput required [(ngModel)]="user.password" name="password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-width">
                <mat-label>Email</mat-label>
                <input matInput required [(ngModel)]="user.email" name="email">
            </mat-form-field>
        </div>
		<div>
            <mat-form-field class="input-width">
                <mat-label>Phone</mat-label>
                <input matInput required [(ngModel)]="user.phone" name="phone">
            </mat-form-field>
        </div>
		<div>
            <mat-form-field class="input-width">
                <mat-label>Address</mat-label>
                <input matInput required [(ngModel)]="user.address" name="address">
            </mat-form-field>
        </div>
		
		<div>
            <mat-form-field class="input-width">
                <mat-label>District</mat-label>
                <input matInput required [(ngModel)]="user.district" name="district">
            </mat-form-field>
        </div>
		<div>
            <mat-form-field class="input-width">
                <mat-label>Upazila</mat-label>
                <input matInput required [(ngModel)]="user.upazila" name="upazila">
            </mat-form-field>
        </div>
		<div>
            <mat-form-field class="input-width">
                <mat-label>Status</mat-label>
                <input matInput required [(ngModel)]="user.status" name="status">
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button (click)="save()">Submit</button>
    <button mat-button [mat-dialog-close]>Close</button>
</div>