<mat-toolbar class="main-menu" [ngClass]="{'sticky' : isSticky}" style="height: 70px;">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <span class="nav-brand" routerLink="/home"><img src="assets/images/logo.png" alt=""></span>
            <div class="assistant-form d-flex align-items-center">
                <div class="select-cat">
                    <button mat-button>
                        <mat-icon>place</mat-icon> Dhaka
                    </button>
                </div>
                <div class="assitant-input">
                    <input type="text" placeholder="Find your service by name">
                    <button mat-button color="black">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <button *ngFor="let menuItem of topLevelMenu" mat-button
                    (click)="changeTopLevelMenu(menuItem.id)"
                    [class.selected]="initalParent===menuItem.id">{{menuItem.title}}</button>
                <button mat-icon-button class="cart">
                    <mat-icon matBadge="5" matBadgeColor="warn">shopping_cart</mat-icon>
                </button>
                <button mat-button color="black" (click)="openLogin()">Login</button>
            </div>
        </div>
    </div>
</mat-toolbar>

<mat-toolbar class="menu-bar mat-elevation-z1">
    <span *ngFor="let item of getSecondLevelMenu()">
      <!-- Handle branch node buttons here -->
      <span *ngIf="item.children && item.children.length > 0">
        <button mat-button [matMenuTriggerFor]="menu.childMenu"
        [disabled]="item.disabled">
          {{item.title}} <mat-icon>expand_more</mat-icon>
        </button>
        <app-menu-item #menu [items]="item.children"></app-menu-item>
      </span>
      <!-- Leaf node buttons here -->
      <span *ngIf="!item.children || item.children.length === 0">
        <button mat-button [routerLink]="['/service', item.id]">
          {{item.title}}
        </button>
      </span>
    </span>
  </mat-toolbar>

