<mat-toolbar class="main-menu" [ngClass]="{'sticky' : isSticky}" style="height: 80px;">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <span class="nav-brand" routerLink="/home"><img src="assets/images/logo.png" alt=""></span>
            <div class="assistant-form d-flex align-items-center">
                <div class="select-cat">
                    <button mat-button>
                        <mat-icon>place</mat-icon> Dhaka
                    </button>
                </div>
                <div class="assitant-input">
                    <input type="text" placeholder="Find your service by name">
                    <button mat-button color="black">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <button *ngFor="let serviceHParent of serviceHLayer1" mat-button (click)="hLayer1(serviceHParent.id)" [class.selected]="false">{{serviceHParent.title}}</button>
                <button mat-icon-button class="cart">
                    <mat-icon matBadge="5" matBadgeColor="warn">shopping_cart</mat-icon>
                </button>
                <button mat-button color="black" (click)="openLogin()">Login</button>
            </div>
        </div>
    </div>
</mat-toolbar>

<mat-toolbar style="height: 50px;" color="black" *ngIf="serviceHLayer2?.length">
    <div class="container">
        <div class="row align-items-center">
            <div>
                <button mat-button (click)="hLayer2(menuChild.id)" *ngFor="let menuChild of serviceHLayer2"> {{menuChild.title}} </button>
                
                <!-- <mat-icon *ngIf="serviceHLayer3?.length">expand_more</mat-icon> -->


            <div class="showHousehold">
                <button mat-button [matMenuTriggerFor]="beforeMenu"> Appliance Repair <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="after">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
            </div>
                <!-- <button mat-button [matMenuTriggerFor]="menu1">Electronics <mat-icon>expand_more</mat-icon> </button>

				<!--
				<div class="showHousehold" *ngIf="showHousehold">
					<button mat-button [matMenuTriggerFor]="beforeMenu"> Appliance Repair <mat-icon>expand_more</mat-icon>
					</button>
					<mat-menu #beforeMenu="matMenu" xPosition="after">
						<button mat-menu-item>Item 1</button>
						<button mat-menu-item>Item 2</button>
					</mat-menu>
				</div>
                 <button mat-button [matMenuTriggerFor]="menu1">Electronics <mat-icon>expand_more</mat-icon> </button>
                <mat-menu #menu1="matMenu" xPosition="after">
                    <button mat-menu-item routerLink="/service">Desktop Computer servicing</button>
                    <button mat-menu-item routerLink="/service">Laptop servicing</button>
                    <button mat-menu-item routerLink="/service">CCTV  camera</button>
                    <button mat-menu-item routerLink="/service">Smart Phone</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu2">Civil<mat-icon>expand_more</mat-icon> </button>
                <mat-menu #menu2="matMenu" xPosition="after">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu3">Mechanical <mat-icon>expand_more</mat-icon></button>
                <mat-menu #menu3="matMenu" xPosition="after">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu4">Electrical<mat-icon>expand_more</mat-icon></button>
                <mat-menu #menu4="matMenu" xPosition="after">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu5">Architecture<mat-icon>expand_more</mat-icon></button>
                <mat-menu #menu5="matMenu" xPosition="after">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu> -->
            </div>
        </div>
    </div>
</mat-toolbar>