<mat-toolbar class="main-menu" [ngClass]="{'sticky' : isSticky}" style="min-height: 70px;">
    <div class="container">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <span fxFlex="20%" fxFlex.xs="100%" class="nav-brand" routerLink="/home"><img src="assets/images/logo.png"
                    alt=""></span>
            <div fxFlex="40%" fxHide.xs class="assistant-form">
                <div class="select-cat">
                    <button mat-button>
                        <mat-icon>place</mat-icon> Dhaka
                    </button>
                </div>
                <div class="assitant-input">
                    <input type="text" placeholder="Find your service by name">
                    <button mat-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
            <div fxFlex="35%" fxFlex.xs="100%" class="text-right">
                <button *ngFor="let menuItem of topLevelMenu" mat-button (click)="changeTopLevelMenu(menuItem.id)"
                    [class.selected]="initalParent===menuItem.id">{{menuItem.title}}</button>

                <button mat-icon-button class="cart" (click)="openCart()">
                    <mat-icon [matBadge]="cartItems?.length || null" matBadgeColor="warn">shopping_cart</mat-icon>
                </button>

                <ng-container *ngIf="user; else login">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>person</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item routerLink="/profile/{{user.data[0].id}}">
                            <mat-icon>person</mat-icon>
                            <span>Profile</span>
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>logout</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
                </ng-container>

                <ng-template #login>
                    <button mat-button color="black" (click)="openLogin()">Login</button>
                </ng-template>

            </div>
        </div>
    </div>
</mat-toolbar>

<mat-toolbar class="menu-bar mat-elevation-z1">
    <span *ngFor="let item of getSecondLevelMenu()">
        <!-- Handle branch node buttons here -->
        <span *ngIf="item.children && item.children.length > 0 && item.serviceLayer == false">
            <button mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">
                {{item.title}} <mat-icon>expand_more</mat-icon>
            </button>
            <app-menu-item #menu [items]="item.children"></app-menu-item>
        </span>

        <!-- Leaf node buttons here -->
        <span *ngIf="!item.children || item.children.length === 0 || item.serviceLayer == true">
            <button mat-button [routerLink]="['/service', item.id]">
                {{item.title}}
            </button>
        </span>
    </span>
</mat-toolbar>