.login-form, .signup-form, .otp-form{
    padding:15px 0;
    text-align: center;
}
.login-form img, .signup-form img, .otp-form img{
    height:40px;
}
.input-width, .input-button{
    max-width: 260px;
    width: 100%;
}
.input-button{
    line-height: 44px;
}
.refer-btn{
    margin-top: 15px;
}
.refer-btn span{
    margin-right: 5px;
}
.resend-code{
    margin:0 0 15px 0;
}