<div *ngIf="hide" class="login-form">
    <img src="assets/images/logo.png" alt="">
    <h4>Login with</h4>
    <div>
        <mat-form-field appearance="fill" class="input-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput type="text" required>
        </mat-form-field>
    </div>
    <button mat-button color="black" class="input-button">Continue</button>

    <div class="refer-btn">
        <span>Don't have an account in fixall?</span>
        <button mat-button color="primary" (click)="openAnother()">Signup Now</button>
    </div>
</div>


<div *ngIf="!hide && otpSection" class="signup-form">
    <img src="assets/images/logo.png" alt="">
    <h4>Signup with</h4>
    <div>
        <mat-form-field appearance="fill" class="input-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput [(ngModel)]="user.phone" type="text" name="phone" required>
        </mat-form-field>
    </div>
    <button mat-button color="black" class="input-button" (click)="save()">Continue</button>

    <div class="refer-btn">
        <span>Already have an account in fixall?</span>
        <button mat-button color="primary" (click)="openAnother()">Login Now</button>
    </div>
</div>

<div *ngIf="!otpSection" class="otp-form">
    <img src="assets/images/logo.png" alt="">
    <p>Type the 4 digit code send to <strong>{{user.phone}}</strong></p>
    <div>
        <mat-form-field appearance="fill" class="input-width">
            <mat-label>OTP</mat-label>
            <input matInput type="text" name="phone" required>
        </mat-form-field>
    </div>
    <p class="resend-code">Resend code in 02:00 </p>
    <button mat-button color="black" class="input-button">Continue</button>

    <div class="refer-btn">
        <span>Don't have an account in fixall?</span>
        <button mat-button color="primary" (click)="openAnother()">Signup Now</button>
    </div>
</div>