<div *ngIf="currentService">
    <h3 mat-dialog-title>{{currentService.title}} Edit</h3>

    <div mat-dialog-content>
        <div>
            <mat-form-field class="input-width">
                <mat-label>Name</mat-label>
                <input matInput id="title" [(ngModel)]="currentService.name" required name="name">
            </mat-form-field>
        </div>
		
		<div>
            <mat-form-field class="input-width">
                <mat-label>Username</mat-label>
                <input matInput id="title" [(ngModel)]="currentService.username" required name="username">
            </mat-form-field>
        </div>
		
		<div>
            <mat-form-field class="input-width">
                <mat-label>Password</mat-label>
                <input matInput id="title" [(ngModel)]="currentService.password" required name="password">
            </mat-form-field>
        </div>
		
        <div>
            <mat-form-field class="input-width">
                <mat-label>Email</mat-label>
                <input matInput required [(ngModel)]="currentService.email" name="email">
            </mat-form-field>
        </div>
		<div>
            <mat-form-field class="input-width">
                <mat-label>Phone</mat-label>
                <input matInput id="title" [(ngModel)]="currentService.phone" required name="phone">
            </mat-form-field>
        </div>
		<div>
            <mat-form-field class="input-width">
                <mat-label>Address</mat-label>
                <input matInput id="title" [(ngModel)]="currentService.address" required name="address">
            </mat-form-field>
        </div>
		<div>
            <mat-form-field class="input-width">
                <mat-label>District</mat-label>
                <mat-select required [(ngModel)]="currentService.district" name="district">
                        <mat-option value="Dhaka">Dhaka</mat-option>
                        <mat-option value="Gazipur">Gazipur</mat-option>
						<mat-option value="Narayongong">Narayongong</mat-option>
						<mat-option value="Tangail">Tangail</mat-option>
						<mat-option value="Munsigong">Munsigong</mat-option>
						<mat-option value="Norsingdi">Norsingdi</mat-option>
						</mat-select>
            </mat-form-field>
        </div>
		<div>
            <mat-form-field class="input-width">
                <mat-label>Upazila</mat-label>
               <mat-select required [(ngModel)]="currentService.upazila" name="upazila">
                        <mat-option value="Ramna">Ramna</mat-option>
                        <mat-option value="Paltan">Paltan</mat-option>
						<mat-option value="Dhanmondi">Dhanmondi</mat-option>
					    <mat-option value="Mohammadpur">Mohammadpur</mat-option>
					    <mat-option value="Banani">Banani</mat-option>
						<mat-option value="Jatrabari">Jatrabari</mat-option>
						<mat-option value="Tejgoan">Tejgoan</mat-option>
						<mat-option value="Chakpazar">Chakpazar</mat-option>
						<mat-option value="Kafrul">Kafrul</mat-option>
						<mat-option value="Tongi">Tongi</mat-option>
						<mat-option value="Mirpur">Mirpur</mat-option>
						<mat-option value="Dohar">Dohar</mat-option>
						<mat-option value="Khilkhet">Khilkhet</mat-option>
						<mat-option value="Uttara">Uttara</mat-option>
						<mat-option value="Gulshan">Gulshan</mat-option>
						<mat-option value="Badda">Badda</mat-option>
						<mat-option value="Motijheel">Motijheel</mat-option>
						<mat-option value="Rampura">Rampura</mat-option>
						</mat-select>
            </mat-form-field>
        </div>
         <div>
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select required [(ngModel)]="currentService.status" name="status">
                        <mat-option>None</mat-option>
                        <mat-option value="0">Active</mat-option>
                        <mat-option value="1">Inactive</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    </div>
    <button mat-raised-button (click)="updateService()">Update</button>
    <button mat-button *ngIf="currentService.published" (click)="updateService">publish</button>
    
</div>
