.login-form{
  padding:30px;
}
.login-form img{
  height:40px;
  margin-bottom:30px;
}
.login-form h3{
  margin-top: 0;
  color:#000;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}
.full-width-input{
  margin-bottom: 15px;
}