<mat-card>
    <mat-card-content>
      <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3>Welcome to</h3>
        <img src="assets/images/logo.png" alt="">
        <mat-error *ngIf="loginInvalid">
          Invalid username and password
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="username" required>
          <mat-error>
            Enter valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>
            Enter valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="black" [disabled]="!form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>