.input-width{
    width: 100%;
}

.mat-slide-toggle{
    height:50px;
    margin-bottom: 10px;
}
.faq{
    list-style: none;
    padding:0;
    margin:0;
    margin-bottom: 15px;
}
.faq li{
    padding:10px 0;
    border-bottom: 1px solid #999;
}
.angular-editor-textarea:focus {
	outline: none;
}