<div>
    <h3 mat-dialog-title>Add Service</h3>

    <div mat-dialog-content>
        <div>
            <mat-form-field class="input-width">
                <mat-label>Title</mat-label>
                <input matInput id="title" [(ngModel)]="serviceHierarchy.title" name="title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-width">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="serviceHierarchy.description" name="description"></textarea>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">

            <div fxFlex="50">
                <mat-form-field class="input-width">
                    <input matInput [(ngModel)]="serviceHierarchy.parentId" name="parentId" type="text"
                        [formControl]="myControl" [matAutocomplete]="serviceHPList" placeholder="Parent">
                    <mat-autocomplete autoActiveFirstOption [displayWith]="displayFn.bind(this)"
                        #serviceHPList="matAutocomplete">
                        <mat-option *ngFor="let parent of filteredOptions | async" [value]="parent.id"> {{parent.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="input-width">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="serviceHierarchy.status" name="status">
                        <mat-option>None</mat-option>
                        <mat-option value="0">Active</mat-option>
                        <mat-option value="1">Inactive</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
            <div fxFlex="auto">
                <mat-slide-toggle (change)="isServiceLayer($event)" [(ngModel)]="serviceHierarchy.serviceLayer"
                    name="serviceLayer">ServiceLayer
                </mat-slide-toggle>
            </div>
            <div fxFlex="auto">
                <mat-slide-toggle [(ngModel)]="serviceHierarchy.published" name="published">
                    Published</mat-slide-toggle>
            </div>
            <div fxFlex="auto">
                <mat-slide-toggle (change)="isEnd($event)" [(ngModel)]="serviceHierarchy.end" name="end">End
                </mat-slide-toggle>
            </div>
        </div>


        <div *ngIf="serviceLayer">
            <div>
                <angular-editor id="editor1" [config]="editorConfig" [placeholder]="'Enter overview...'"
                    [(ngModel)]="serviceHierarchy.overview"></angular-editor>
            </div>
            <div>
                <angular-editor id="editor2" [config]="editorConfig" [placeholder]="'Enter detail...'"
                    [(ngModel)]="serviceHierarchy.detail"></angular-editor>
            </div>
            
            <div *ngIf="faqs?.length > 0">
                <ul class="faq">
                    <li *ngFor="let faq of faqs"><span>{{faq.question}}</span> : {{faq.answer}}</li>
                </ul>               
            </div>
            
            <div>
                <mat-label>FAQ</mat-label>
                <div fxLayout="row" fxLayoutGap="20px">
                    <div fxFlex="85">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <div fxFlex="50">
                                <mat-form-field class="input-width">
                                    <mat-label>Question</mat-label>
                                    <input matInput type="text" [(ngModel)]="question">
                                </mat-form-field>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-width">
                                    <mat-label>Answer</mat-label>
                                    <input matInput type="text" [(ngModel)]="answer">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="auto">
                        <button mat-mini-fab (click)="addToList()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="endLevel" fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="50">
                <mat-slide-toggle (change)="on($event)"> Negotiable </mat-slide-toggle>
            </div>
            <div fxFlex="50">
                <mat-form-field class="input-width" *ngIf="!hidden">
                    <mat-label>Price</mat-label>
                    <input matInput type="text" [(ngModel)]="serviceHierarchy.price">
                </mat-form-field>
            </div>
        </div>

    </div>
    <button mat-raised-button (click)="save()">Submit</button>
    <button mat-button [mat-dialog-close]>Close</button>
</div>