<div *ngIf="serviceDetail">
    <h3 mat-dialog-title>{{serviceDetail.title}} Detail</h3>

    <div mat-dialog-content>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <span mat-line>Name</span>
                <span mat-line>{{serviceDetail.name}}</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span mat-line>Username</span>
                <span mat-line>{{serviceDetail.username}}</span>
            </mat-list-item>
			<mat-list-item role="listitem">
                <span mat-line>Email</span>
                <span mat-line>{{serviceDetail.email}}</span>
            </mat-list-item>
			<mat-list-item role="listitem">
                <span mat-line>Status</span>
                <span mat-line>{{serviceDetail.status}}</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span mat-line>Published</span>
                <span mat-line>{{serviceDetail.published}}</span>
            </mat-list-item>
        </mat-list>
        
    </div>
</div>