<div *ngIf="serviceDetail">
    <h3 mat-dialog-title>{{serviceDetail.title}} Detail</h3>

    <div mat-dialog-content>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <span mat-line>Title</span>
                <span mat-line>{{serviceDetail.title}}</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span mat-line>Description</span>
                <span mat-line>{{serviceDetail.description}}</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span mat-line>Published</span>
                <span mat-line>{{serviceDetail.published}}</span>
            </mat-list-item>
        </mat-list>
        
    </div>
</div>