<div>
    <h3 mat-dialog-title>Add Service</h3>

    <div mat-dialog-content>
        <div>
            <mat-form-field class="input-width">
                <mat-label>Title</mat-label>
                <input matInput id="title" required [(ngModel)]="service.title" name="title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-width">
                <mat-label>Description</mat-label>
                <input matInput required [(ngModel)]="service.description" name="description">
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button (click)="saveService()">Submit</button>
    <button mat-button [mat-dialog-close]>Close</button>
</div>