<div *ngIf="!submitted">
    <h3 mat-dialog-title>Add Service</h3>

    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput id="title" required [(ngModel)]="service.title" name="title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput required [(ngModel)]="service.description" name="description">
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button (click)="saveService()">Submit</button>
</div>

<div *ngIf="submitted">
    <h4>You submitted successfully!</h4>
    <button mat-raised-button (click)="newService()">Add New</button>
</div>