<div class="banner">
    <owl-carousel-o [options]="sliderOptions" class="categoryCarousel">
        <ng-template carouselSlide>
            <div class="single-slider">
                <img src="assets/images/slider.jpg" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-slider">
                <img src="assets/images/slider2.jpg" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-slider">
                <img src="assets/images/slider3.jpg" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-slider">
                <img src="assets/images/slider4.jpg" alt="">
            </div>
        </ng-template>
    </owl-carousel-o>
</div>


<div class="service-category">
    <div class="container">
        <div class="category-area">
            <owl-carousel-o [options]="categoryOptions" class="categoryCarousel">
                <ng-template carouselSlide *ngFor="let service of serviceGroup">
                    <div class="single-category">
                        <a routerLink="/service/{{service.id}}">
                            <div class="body">
                                <img src="http://localhost:8080/uploads/{{service.photoName}}" alt=""> 
                                <h4>{{service.title}}</h4>
                            </div>
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>


<div class="pb-5">
    <div class="container">
        <div class="section-title">
            <h2>Recently View</h2>
        </div>
        <div class="recomended-slider">
            <owl-carousel-o [options]="recommendOptions" class="categoryCarousel">
                <ng-template carouselSlide *ngFor="let count of [1,2,3,4,5,6,7,8]">
                    <div class="single-service">
                        <a routerLink="/service-category">
                            <div class="body">
                                <div class="img">
                                    <img src="assets/images/laptop.jpg" alt="">
                                </div>
                                <div class="body">
                                    <h3>Service {{count}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<div class="pb-5 pt-5" style="background-color: #f5f5f5;">
    <div class="container">
        <div class="section-title">
            <h2>Recommended</h2>
        </div>

        <div class="recomended-slider">
            <owl-carousel-o [options]="recommendOptions" class="categoryCarousel">

                <ng-template carouselSlide *ngFor="let count of [1,2,3,4,5,6]">
                    <div class="single-service">
                        <a href="#">
                            <div class="body">
                                <div class="img">
                                    <img src="assets/images/electrical.jpg" alt="">
                                </div>
                                <div class="body">
                                    <h3>Service {{count}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>



<div class="pb-5 pt-5">
    <div class="container">
        <div class="section-title">
            <h2>Trending</h2>
        </div>

        <div class="recomended-slider">
            <owl-carousel-o [options]="recommendOptions" class="categoryCarousel">
                <ng-template carouselSlide *ngFor="let count of [1,2,3,4,5,6]">
                    <div class="single-service">
                        <a href="#">
                            <div class="body">
                                <div class="img">
                                    <img src="assets/images/laptop.jpg" alt="">
                                </div>
                                <div class="body">
                                    <h3>Service {{count}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<div class="counter pt-5 pb-5" style="background-color:#f5f5f5;">
    <div class="container">
        <div fxLayout="row wrap" fxLayoutGap="30px grid">
            <div fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
                <div class="single-counter">
                    <h2>1540+</h2>
                    <p>Services</p>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
                <div class="single-counter">
                    <h2>1540+</h2>
                    <p>Service Served</p>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
                <div class="single-counter">
                    <h2>1540+</h2>
                    <p>Service Provider</p>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
                <div class="single-counter">
                    <h2>1540+</h2>
                    <p>Rating Received</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="how-it-work pt-5 pb-5">
    <div class="container">
        <div class="section-title">
            <h2>How it works</h2>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="50%" fxFlex.xs="100%">
                <div class="how-img img-responsive">
                    <img src="assets/images/how.jpg" alt="">
                    <button class="play-btn" mat-fab color="black" (click)="openDialog()">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                </div>
            </div>
            <div fxFlex="40%" fxFlex.xs="100%">
                <div class="how-topic">
                    <div class="how-step">
                        <button mat-fab color="black">1</button>
                        <h3>Choose your service</h3>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                            demonstrate</p>
                    </div>
                    <div class="how-step">
                        <button mat-fab color="black">2</button>
                        <h3>Select your time shedule</h3>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                            demonstrate</p>
                    </div>
                    <div class="how-step">
                        <button mat-fab color="black">3</button>
                        <h3>Place your order</h3>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                            demonstrate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testmonial-area pt-5" style="background-color:#f5f5f5;">
    <div class="container">
        <div class="section-title text-center">
            <h2>Our Customer say</h2>
        </div>
        <div class="testimonial">
            <owl-carousel-o [options]="testmonialOptions">
                <ng-template carouselSlide *ngFor="let count of [1,2,3]">
                    <div class="single-testmonial">
                        <div fxLayout="row wrap" fxLayoutGap="30 grid" fxLayoutAlign="space-between center">
                            <div fxFlex="50%" fxFlex.xs="100%">
                                <div class="testmonial-content">
                                    <h3>Robert Brank</h3>
                                    <span>IT Consultant, ITwindow</span>
                                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying. In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying In</p>
                                </div>
                            </div>
                            <div fxFlex="40%" fxFlex.xs="100%">
                                <div class="testmonial-img">
                                    <img src="assets/images/testimonial3.png" alt="">
                                    <a href="#" class="play-btn" mat-fab color="black">
                                        <mat-icon>play_arrow</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<div class="download-app pt-5 pb-5">
    <div class="container">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="40%" fxFlex.xs="100%">
                <div class="download-app-photo img-responsive">
                    <img src="assets/images/mobile.png" alt="">
                </div>
            </div>
            <div fxFlex="50%" fxFlex.xs="100%">
                <div class="download-app-content">
                    <span>Download app</span>
                    <h1>Get More In Our Application <br> Sit Back And Enjoy</h1>
                    <p>Give us your mobile number. You’ll get an SMS with the app download link. </p>
                    <form action="" class="get-app-form">
                        <input type="text" placeholder="Enter your phone number..">
                        <button mat-raised-button color="black">
                            <mat-icon>phone_iphone</mat-icon> Get App
                        </button>
                    </form>
                    <a href="#"><img src="assets/images/play-store.png" alt=""></a>
                    <a href="#"><img src="assets/images/app-store.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>