<mat-toolbar>
    <div class="container">
        <div class="row">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>FixAll</span>
            <span class="example-spacer"></span>
            <button mat-button [matMenuTriggerFor]="featureService">Polpular Services <mat-icon>keyboard_arrow_down
                </mat-icon>
            </button>
            <mat-menu #featureService="matMenu" xPosition="before">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
    
            <button mat-button>All Services</button>
            <button mat-button>Login</button>
            <button mat-icon-button class="example-icon search-icon">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon matBadge="5" matBadgeColor="warn">shopping_cart</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>

<section class="banner" style="background-image:url(assets/images/banner.jpg);">

</section>



<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Recommended</h2>
        </div>
        <div class="col-3">
            <div class="single-service">
                <img src="assets/images/banner.jpg" alt="">
                <div class="rating" color="accent">
                    <mat-icon>star</mat-icon> 5 <span>out of 5</span>
                </div>
                <div class="body">
                    <h3>Daily Meal</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="single-service">
                <img src="assets/images/banner.jpg" alt="">
                <div class="rating" color="accent">
                    <mat-icon>star</mat-icon> 5 <span>out of 5</span>
                </div>
                <div class="body">
                    <h3>Daily Meal</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="single-service">
                <img src="assets/images/banner.jpg" alt="">
                <div class="rating" color="accent">
                    <mat-icon>star</mat-icon> 5 <span>out of 5</span>
                </div>
                <div class="body">
                    <h3>Daily Meal</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="single-service">
                <img src="assets/images/banner.jpg" alt="">
                <div class="rating" color="accent">
                    <mat-icon>star</mat-icon> 5 <span>out of 5</span>
                </div>
                <div class="body">
                    <h3>Daily Meal</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Trending</h2>
        </div>
        <div class="col-3">
            <div class="single-service">
                <img src="assets/images/banner.jpg" alt="">
                <div class="rating" color="accent">
                    <mat-icon>star</mat-icon> 5 <span>out of 5</span>
                </div>
                <div class="body">
                    <h3>Daily Meal</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="single-service">
                <img src="assets/images/banner.jpg" alt="">
                <div class="rating" color="accent">
                    <mat-icon>star</mat-icon> 5 <span>out of 5</span>
                </div>
                <div class="body">
                    <h3>Daily Meal</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="single-service">
                <img src="assets/images/banner.jpg" alt="">
                <div class="rating" color="accent">
                    <mat-icon>star</mat-icon> 5 <span>out of 5</span>
                </div>
                <div class="body">
                    <h3>Daily Meal</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="single-service">
                <img src="assets/images/banner.jpg" alt="">
                <div class="rating" color="accent">
                    <mat-icon>star</mat-icon> 5 <span>out of 5</span>
                </div>
                <div class="body">
                    <h3>Daily Meal</h3>
                </div>
            </div>
        </div>
    </div>
</div>