<footer class="pt-5 pb-5" style="background-color: #f5f5f5;">
    <div class="container">
        <div fxLayout="row wrap" fxLayoutGap="30px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%"> 
                <div class="single-footer">
                    <h4>Contact Us</h4>
                    <p>If you have any question, please contact us at <a href="#">support@example.com</a></p>
                    <h3>
                        <mat-icon>support_agent</mat-icon> <span>+880</span> 17458548
                    </h3>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                <div class="single-footer">
                    <h4>Support</h4>
                    <ul>
                        <li (click)="openLogin()">Login</li>
                        <li (click)="openLogin()">Sign Up</li>
                        <li>My Account</li>
                        <li (click)="openCart()">Cart</li>
                        <li>FAQ's</li>
                    </ul>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                <div class="single-footer">
                    <h4>Quick Links</h4>
                    <ul>
                        <li>About Us</li>
                        <li>How it works</li>
                        <li>Privacy policy</li>
                        <li>Term of use</li>
                    </ul>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                <div class="single-footer">
                    <h4>Newsletter</h4>
                    <p>For get more updated information, Please subscribe newsletter. </p>
                    <form action="" class="newsletter-form">
                        <input type="text" placeholder="Your email..">
                        <button mat-raised-button color="black">
                            <mat-icon>send</mat-icon>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="copyright">
            <div fxFlex="50%" fxFlex.xs="100%" class="copyright-text">
                <span>Copyright &copy; <a href="#">FixAll</a> All rights reserved.</span>
            </div>
            <div fxFlex="50%" fxFlex.xs="100%" class="text-right">
                <img src="assets/images/payment.png" alt="">
            </div>
        </div>
    </div>
</footer>

<button class="scrollTop" *ngIf="isShow" mat-mini-fab color="black"  (click)="gotoTop()">
    <mat-icon>arrow_upward</mat-icon>
</button>
