<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
    <span *ngFor="let child of items">
      <span *ngIf="child.children && child.children.length > 0 && child.serviceLayer == false">
        <button mat-menu-item [matMenuTriggerFor]="menu.childMenu" routerLink="/service/{{child.id}}">
          <span>{{child.title}}</span>
        </button>
        <app-menu-item #menu [items]="child.children"></app-menu-item>
      </span>
      <span *ngIf="!child.children || child.children.length === 0 || child.serviceLayer == true">
        <button mat-menu-item routerLink="/service/{{child.id}}">
          <span>{{child.title}}</span>
        </button>
      </span>
    </span>
  </mat-menu>