<!-- <div>
    <mat-toolbar color="primary">
      <label>FixAll</label>
      <button mat-button [matMenuTriggerFor]="serviceMenu"> Services </button>
      <mat-menu #serviceMenu="matMenu" yPosition="below" xPosition="after">
        <button routerLink="services" mat-menu-item> Service List </button>
        <button routerLink="service" mat-menu-item> Add Service </button>
      </mat-menu>
  
      <button mat-button>Basic 2</button>
      <button mat-button>Basic 3</button>
      <button mat-button>Basic 4</button>
    </mat-toolbar>
</div>
<div>
    <router-outlet></router-outlet>
</div> -->


<app-home></app-home>