

        <div fxLayout="row">
            <div fxFlex="100%" style="margin-bottom: 20px;">
                <mat-card>
                    <h3>Dashboard</h3>
                </mat-card>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="50%">
                <mat-card>
                    <h3>At a glance</h3>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <div fxLayout="row">
                            <div fxFlex="50%">
                                <button mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>250 Services</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>category</mat-icon>
                                    <span>50 Categories</span>
                                </button>
                            </div>
                            <div fxFlex="50%">
                                <button mat-menu-item>
                                    <mat-icon>design_services</mat-icon>
                                    <span>1000+ Services Served</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>photo_filter</mat-icon>
                                    <span>1000+ Reviews</span>
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            
            <div fxFlex="50%">
                <mat-card>
                    <h3>At a glance</h3>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <div fxLayout="row">
                            <div fxFlex="50%">
                                <button mat-menu-item>
                                    <mat-icon>group</mat-icon>
                                    <span>500+ Customer</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>group</mat-icon>
                                    <span>200+ Service Provider</span>
                                </button>
                            </div>
                            <div fxFlex="50%">
                                <button mat-menu-item>
                                    <mat-icon>person</mat-icon>
                                    <span>5 Admin Users</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>pin_drop</mat-icon>
                                    <span>15+ Location</span>
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            
        </div>

