

<div class="add-to-cart-area" *ngIf="isShow">
    <div class="title">
        <h2>{{service_data.title}}</h2>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="55">
            <div class="cart-item-area">
                <h4>{{service_data.title}} Related Service</h4>
                <div class="cart-item-list">

                    <!-- service item for add to cart -->
                    <ng-container *ngFor="let service_list of serviceChild_data">
                        <div class="cart-item">
                            <div class="head">
                                <p>{{service_list.title}}</p>
                                <span> <span>৳{{service_list.price}}</span>/unit</span>
                            </div>
                            <button mat-button color="black" (click)="addToCart(service_list)">Add to cart</button>
                        </div>
                        <mat-divider></mat-divider>
                    </ng-container>
                    
                </div>
            </div>
        </div>


        <div fxFlex="45">
            <div class="added-item-area">
                <div class="added-item-list" *ngIf="cartItems.length>0; else emptyCart">

                    <div class="added-item" *ngFor="let cartItem of cartItems">
                        <button mat-icon-button class="cart-remove" (click)="removeCart(cartItem.id)"><mat-icon>clear</mat-icon></button>
                        <div>
                            <h4> {{getServiceName(cartItem.serviceHierarchyId)}}</h4> 
                            <div style="text-align:right">
                                <div>
                                    <div class="quantity-area">
                                        <button (click)="quantity(-1, cartItem.id)"><mat-icon>remove</mat-icon></button>
                                        <span>{{cartItem.quantity}}</span>
                                        <button (click)="quantity(1, cartItem.id)"><mat-icon>add</mat-icon></button>
                                    </div>
                                </div>
                                <span>৳{{(cartItem.quantity * cartItem.price)}}</span>
                            </div>
                        </div>
                        
                    </div>
                    <mat-divider></mat-divider>
                    <div class="added-item">
                        <div>
                            <h4>Subtotal</h4>
                            <h4>৳{{getTotal()}}</h4>
                        </div>
                    </div>
                </div>
                <div>
                    <ng-template #emptyCart>
                        <h4 style="text-align: center;margin:0;padding:50px 0;">Empty Cart</h4>
                    </ng-template>
                </div>
                <button class="checkout-btn" (click)="toggleShow()" mat-button color="black">Proceed To Checkout</button>
            </div>
            
        </div>
    </div>
</div>



<div class="checkout-area" *ngIf="!isShow">
    <div class="title">
        <h2>Checkout</h2>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row">
        <div fxFlex="55">
            <div class="checkout-text">
                <h4>Your order ID: 5412B1C</h4>
                <div class="added-item" *ngFor="let cartItem of cartItems">
                    <mat-checkbox class="checkbox" [checked]="isChecked"></mat-checkbox>
                    <div>
                        <h4> {{getServiceName(cartItem.serviceHierarchyId)}}</h4>
                        <div style="text-align:right">
                            <div>
                                <div class="quantity-area">
                                    <button (click)="quantity(-1, cartItem.id)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                    <span>{{cartItem.quantity}}</span>
                                    <button (click)="quantity(1, cartItem.id)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <span>৳{{(cartItem.quantity * cartItem.price)}}</span>
                        </div>
                    </div>
                
                </div>
                <mat-divider></mat-divider>
                <div class="added-item">
                    <div>
                        <h4>Subtotal</h4>
                        <h4>৳{{getTotal()}}</h4>
                    </div>
                </div>
                <div class="order-btn" style="margin-top: 20px;">
                    <button mat-button color="black" (click)="toggleShow()">Back to Cart</button>
                </div>
            </div>
        </div>
        <div fxFlex="45" class="payment">
            <h4>Payment</h4>
            <p>Total payable ৳1212</p>
            <div class="payment-list">
                <div>
                    <mat-radio-group>
                        <mat-radio-button value="1">Bkash</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-radio-group>
                        <mat-radio-button value="1">Bank</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-radio-group>
                        <mat-radio-button value="1">Debit/Credit Card</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-radio-group>
                        <mat-radio-button value="1">Cash on delivery</mat-radio-button>
                    </mat-radio-group>
                </div>
                    
            </div>
            <button class="payment-btn" mat-button color="black">Proceed To Payment</button>
        </div>
    </div>
</div>