.title h2{
    margin:0;
    padding-bottom: 20px;
    text-align: center;
}


.cart-item-area{
    border-right: 1px solid #eee;
}
.cart-item-list, .added-item-list{
    height:355px;
    overflow-y:auto;
}
.cart-item-area h4{
    padding:20px;
    margin:0;
    background-color:#f9f9f9;
}



.cart-item, .added-item div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}
.cart-item p{
    margin: 0;
    margin-bottom: 5px;
    font-size:15px;
}
.cart-item span span{
    font-weight: 600;
    font-size: 15px;
}
.cart-item button, .order-btn button{
    line-height: 31px;
    border-radius: 33px;
}

.added-item div{
    padding:0;
}
.added-item{
    padding:10px;
}
.added-item h4, .added-item p{
    margin:0;
}
.added-item h4{
    margin-bottom: 8px;
}
.added-item button{
    margin-bottom: 5px;
}



.added-item-area{
    position: relative;
    height: 100%;

}
.added-item-area .checkout-btn{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    line-height: 44px;
}
.added-item{
    position: relative;
    padding-left:46px;
    border-bottom: 1px solid #eee;
}
.added-item .cart-remove{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
}

.quantity-area{
    border:1px solid #ddd;
    border-radius: 33px;
}
.quantity-area input{
    width:35px;
    height: 22px;
    border:0;
    padding:0 5px;
}
.quantity-area button{
    height: 22px;
    margin-bottom: 0;
    border:0;
    line-height: 31px;
    cursor: pointer;
    padding:0 4px;
}
.quantity-area button:first-child{
    border-radius: 33px 0 0 33px;
}
.quantity-area button:last-child{
    border-radius: 0 33px 33px 0;
}




.payment{
    background-color: #f5f5f5;
    padding:15px;
}
.payment h4{
    margin-top:0;
}
.payment-list>div{
    padding:10px 0;
}
.payment-btn{
    width: 100%;
    margin-top: 15px;
    line-height: 44px;
}