<div class="add-to-cart-area">
    <div *ngIf="isShow">
        <div class="title">
            <h2>{{service_data.title}}</h2>
        </div>
        <mat-divider></mat-divider>
    </div>
    
    <div class="service-area">
        <div class="service-item-area" *ngIf="isShow">
            <h4>{{service_data.title}} Related Service</h4>
            <div class="service-item-list">
                <ng-container *ngFor="let service_list of serviceChild_data">
                    <div class="service-item">
                        <div class="head">
                            <p>{{service_list.title}}</p>
                            <span> <span>৳{{service_list.price}}</span>/unit</span>
                        </div>
                        <button mat-button color="black" (click)="addToCart(service_list)">Add to cart</button>
                    </div>
                    <mat-divider></mat-divider>
                </ng-container>
            </div>
        </div>
        <app-cart class="app-cart" (event)="toggleShow($event)"></app-cart>
    </div>
</div>