<div class="add-to-cart-area">
    <div class="title">
        <h2>Laptop Servicing</h2>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutGap="24px">
        <div fxFlex="60">
            <div class="cart-item-area">
                <h4>Software Related Service</h4>
                <div class="cart-item-list">
                    <div class="cart-item">
                        <div class="head">
                            <p>OS installation</p>
                            <span> <span>৳500</span>/unit</span>
                        </div>
                        <button mat-raised-button color="accent">Add to cart</button>
                    </div>

                    <mat-divider></mat-divider>
                    <div class="cart-item">
                        <div class="head">
                            <p>Driver installation</p>
                            <span> <span>৳200</span>/unit</span>
                        </div>
                        <button mat-raised-button color="accent">Add to cart</button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="cart-item">
                        <div class="head">
                            <p>Driver installation</p>
                            <span> <span>৳200</span>/unit</span>
                        </div>
                        <button mat-raised-button color="accent">Add to cart</button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="cart-item">
                        <div class="head">
                            <p>Driver installation</p>
                            <span> <span>৳200</span>/unit</span>
                        </div>
                        <button mat-raised-button color="accent">Add to cart</button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="cart-item">
                        <div class="head">
                            <p>Driver installation</p>
                            <span> <span>৳200</span>/unit</span>
                        </div>
                        <button mat-raised-button color="accent">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="40">
            <div class="added-item-area">
                <div class="added-item-list">
                    <div class="added-item">
                        <div>
                            <h4>Software Related Service</h4>
                            <button mat-button color="black">2</button>
                        </div>
                        <div>
                            <p>Driver installation</p>
                            <span> <span>৳200</span>/unit</span>
                        </div>
                    </div>
                    <div class="added-item">
                        <div>
                            <h4>Software Related Service</h4>
                            <button mat-button color="black">4</button>

                        </div>
                        <div>
                            <p>Driver installation</p>
                            <span> <span>৳200</span>/unit</span>
                        </div>
                    </div>
                    <div class="added-item">
                        <div>
                            <h4>Software Related Service</h4>
                            <button mat-button color="black">1</button>

                        </div>
                        <div>
                            <p>Driver installation</p>
                            <span> <span>৳200</span>/unit</span>
                        </div>
                    </div>

                    <mat-divider></mat-divider>
                    <div class="added-item">
                        <div>
                            <h4>Subtotal</h4>
                            <h4>1200</h4>
                        </div>
                    </div>
                </div>
                <button class="checkout" mat-button color="black">Proceed To Checkout</button>
            </div>
        </div>
    </div>
</div>