<div class="container pt-5 pb-5">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>construction</mat-icon>
                <p>Desktop Computer servicing</p>
            </ng-template>

            <div fxLayout="row" fxLayoutGap="30px">
                <div fxFlex="50" matRipple class="tab-item">
                    <div>
                        <img src="assets/images/laptop.jpg">
                        <div>
                            Software related service
                            <div style="margin-top:5px;">
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="accent" selected>
                                        <mat-icon>star</mat-icon> 
                                        <span>4 Out of 5</span>
                                    </mat-chip>
                                  </mat-chip-list>
                            </div>
                        </div>
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
                <div fxFlex="50" matRipple class="tab-item">
                    <div>
                        <img src="assets/images/laptop.jpg">
                        <div>
                            Hardware related service
                            <div style="margin-top:5px;">
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="accent" selected>
                                        <mat-icon>star</mat-icon> 
                                        <span>4 Out of 5</span>
                                    </mat-chip>
                                  </mat-chip-list>
                            </div>
                        </div>
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
            </div>

        </mat-tab>
        <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>miscellaneous_services</mat-icon>
                <p>Laptop servicing</p>
            </ng-template>
            <div fxLayout="row" fxLayoutGap="30px">
                <div fxFlex="50" matRipple class="tab-item">
                    <div>
                        <img src="assets/images/laptop.jpg">
                        <div>
                            Software related service
                            <div style="margin-top:5px;">
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="accent" selected>
                                        <mat-icon>star</mat-icon> 
                                        <span>4 Out of 5</span>
                                    </mat-chip>
                                  </mat-chip-list>
                            </div>
                        </div>
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
                <div fxFlex="50" matRipple class="tab-item">
                    <div>
                        <img src="assets/images/laptop.jpg">
                        <div>
                            Hardware related service
                            <div style="margin-top:5px;">
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="accent" selected>
                                        <mat-icon>star</mat-icon> 
                                        <span>4 Out of 5</span>
                                    </mat-chip>
                                  </mat-chip-list>
                            </div>
                        </div>
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>sentiment_satisfied_alt</mat-icon>
                <p>CCTV camera</p>
            </ng-template>
            <div fxLayout="row" fxLayoutGap="30px">
                <div fxFlex="50" matRipple class="tab-item">
                    <div>
                        <img src="assets/images/laptop.jpg">
                        <div>
                            Software related service
                            <div style="margin-top:5px;">
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="accent" selected>
                                        <mat-icon>star</mat-icon> 
                                        <span>4 Out of 5</span>
                                    </mat-chip>
                                  </mat-chip-list>
                            </div>
                        </div>
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
                <div fxFlex="50" matRipple class="tab-item">
                    <div>
                        <img src="assets/images/laptop.jpg">
                        <div>
                            Hardware related service
                            <div style="margin-top:5px;">
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="accent" selected>
                                        <mat-icon>star</mat-icon> 
                                        <span>4 Out of 5</span>
                                    </mat-chip>
                                  </mat-chip-list>
                            </div>
                        </div>
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>emoji_transportation</mat-icon>
                <p>Smart Phone</p>
            </ng-template>
             <div fxLayout="row" fxLayoutGap="30px">
                <div fxFlex="50" matRipple class="tab-item">
                    <div>
                        <img src="assets/images/laptop.jpg">
                        <div>
                            Software related service
                            <div style="margin-top:5px;">
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="accent" selected>
                                        <mat-icon>star</mat-icon> 
                                        <span>4 Out of 5</span>
                                    </mat-chip>
                                  </mat-chip-list>
                            </div>
                        </div>
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
                <div fxFlex="50" matRipple class="tab-item">
                    <div>
                        <img src="assets/images/laptop.jpg">
                        <div>
                            Hardware related service
                            <div style="margin-top:5px;">
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="accent" selected>
                                        <mat-icon>star</mat-icon> 
                                        <span>4 Out of 5</span>
                                    </mat-chip>
                                  </mat-chip-list>
                            </div>
                        </div>
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>