<div class="container pt-5 pb-5">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>home</mat-icon>
                test
              </ng-template>
              <ul>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
            </ul>
        </mat-tab>
        <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>home</mat-icon>
                test
              </ng-template>
              <ul>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
            </ul>
        </mat-tab> <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>home</mat-icon>
                test
              </ng-template>
              <ul>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
                <li>Service 1</li>
            </ul>
        </mat-tab> 
        
    </mat-tab-group>
</div>