<div class="container pt-5 pb-5">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>construction</mat-icon>
                <p>Applience Repaire</p>
            </ng-template>
            <ul>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">AC Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Buy AC & Free
                        Installation
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Microwave Oven repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">TV Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Refrigerator Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Washing Mechine
                        Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">kitchenhood Repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
            </ul>
        </mat-tab>
        <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>miscellaneous_services</mat-icon>
                <p>Electronics And Gadget</p>
            </ng-template>
            <ul>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">AC Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Buy AC & Free
                        Installation
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Microwave Oven repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">TV Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Refrigerator Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Washing Mechine
                        Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">kitchenhood Repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
            </ul>
        </mat-tab>
        <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>sentiment_satisfied_alt</mat-icon>
                <p>Beauty And Salon</p>
            </ng-template>
            <ul>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">AC Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Buy AC & Free
                        Installation
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Microwave Oven repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">TV Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Refrigerator Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Washing Mechine
                        Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">kitchenhood Repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
            </ul>
        </mat-tab>

        <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>emoji_transportation</mat-icon>
                <p>Shifting</p>
            </ng-template>
            <ul>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">AC Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Buy AC & Free
                        Installation
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Microwave Oven repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">TV Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Refrigerator Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Washing Mechine
                        Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">kitchenhood Repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
            </ul>
        </mat-tab>

        <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>face</mat-icon>
                <p>Men's Care Salon</p>
            </ng-template>
            <ul>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">AC Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Buy AC & Free
                        Installation
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Microwave Oven repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">TV Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Refrigerator Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Washing Mechine
                        Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">kitchenhood Repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
            </ul>
        </mat-tab>

        <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>clean_hands</mat-icon>
                <p>Cleaning And Pest</p>
            </ng-template>
            <ul>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">AC Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Buy AC & Free
                        Installation
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Microwave Oven repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">TV Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Refrigerator Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Washing Mechine
                        Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">kitchenhood Repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
            </ul>
        </mat-tab>

        <mat-tab label="Tab Two">
            <ng-template mat-tab-label>
                <mat-icon>apartment</mat-icon>
                <p>Home Cleaning Service</p>
            </ng-template>
            <ul>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">AC Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Buy AC & Free
                        Installation
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Microwave Oven repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">TV Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Refrigerator Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">Washing Mechine
                        Repaire Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
                <li matRipple>
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014274.svg">kitchenhood Repaire
                        Service
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </li>
            </ul>
        </mat-tab>

    </mat-tab-group>
</div>