<div *ngIf="currentArea">
    <h5 mat-dialog-title>Edit {{currentArea.title}} AreaHierarchy</h5>

    <div mat-dialog-content>
        <div>
            <mat-form-field class="input-width">
                <mat-label>Title</mat-label>
                <input matInput id="title" required [(ngModel)]="currentArea.title" name="title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-width">
                <mat-label>Area Type</mat-label>
                <input matInput required [(ngModel)]="currentArea.areaType" name="areaType">
            </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <div fxFlex="50%" fxFlex.xs="100%">
                <mat-form-field class="input-width">
                    <input matInput [(ngModel)]="currentArea.parentId" name="parentId" type="text"
                        [formControl]="myControl" [matAutocomplete]="serviceHPList" placeholder="Parent">
                    <mat-autocomplete autoActiveFirstOption [displayWith]="displayFn.bind(this)"
                        #serviceHPList="matAutocomplete">
                        <mat-option *ngFor="let parent of filteredOptions | async" [value]="parent.id"> {{parent.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxFlex="50%" fxFlex.xs="100%">
                <mat-form-field  class="input-width">
                    <mat-label>Status</mat-label>
                    <mat-select required [(ngModel)]="currentArea.status" name="status">
                        <mat-option>None</mat-option>
                        <mat-option value="0">Active</mat-option>
                        <mat-option value="1">Inactive</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100%">
                <mat-slide-toggle [(ngModel)]="currentArea.end" name="end">End
                </mat-slide-toggle>
            </div>
        </div>

    </div>
    <button mat-raised-button (click)="updateArea()" style="margin-right:10px;">Update</button>
    <button mat-button [mat-dialog-close]>Close</button>
</div>