<br>
<br>


<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div>
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="areahirarchy.title"
            name="title"
          />
        </div>
  
        <div>
          <label for="areaType">AreaType</label>
          <input
            class="form-control"
            id="areaType"
            required
            [(ngModel)]="areahirarchy.areaType"
            name="areaType"
          />
        </div>
        <div>
            <label for="parentId">Parent Id</label>
            <input
              class="form-control"
              id="parentId"
              required
              [(ngModel)]="areahirarchy.parentId"
              name="parentId"
            />
          </div>
        <div>
            <label for="hierarchyPath">HierarchyPath</label>
            <input
              class="form-control"
              id="hierarchyPath"
              required
              [(ngModel)]="areahirarchy.hierarchyPath"
              name="hierarchyPath"
            />
          </div>
        <div>
            <label for="status">Status</label>
            <input
              class="form-control"
              id="status"
              required
              [(ngModel)]="areahirarchy.status"
              name="status"
            />
          </div>
  
        <button (click)="saveAreaHierarchy()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newAreaHierarchy()">Add</button>
      </div>
    </div>
  </div>
  


  
