<pre>
        {{serviceDetail|json}}
    {{serviceChild|json}}
    </pre>

<div *ngIf="serviceDetail.length > 0">
    <div *ngFor="let serviceH of serviceDetail">
        <div class="service-area" style="background-image:url('assets/images/laptop-servicing.jpg');">
            <div class="container">
                <div fxLaout="row">
                    <div fxFlex="80">
                        <div class="breadcrumb pb-5">
                            <ul>
                                <li> <a href="#">Home</a> </li>
                                <li> <a href="#">Commercial</a> </li>
                                <li> <a href="#">Electronics</a> </li>
                                <li>Laptop Servicing</li>
                            </ul>
                        </div>
                    </div>
                    <div fxFlex="20">
                        <div class="social-share">
                            <span>Share on</span>
                            <ul>
                                <li><a href="#"><img src="https://www.flaticon.com/svg/static/icons/svg/733/733547.svg"
                                            alt=""></a></li>
                                <li><a href="#"><img
                                            src="https://www.flaticon.com/svg/static/icons/svg/1409/1409937.svg"
                                            alt=""></a></li>
                                <li><a href="#"><img src="https://www.flaticon.com/svg/static/icons/svg/174/174857.svg"
                                            alt=""></a></li>
                                <li><a href="#"><img
                                            src="https://www.flaticon.com/svg/static/icons/svg/2111/2111463.svg"
                                            alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="30px">
                    <div fxFlex="50">
                        <div class="service-content">
                            <h2>{{serviceH.title}}</h2>
                            <div class="ratings">
                                <button mat-raised-button color="accent">
                                    <mat-icon>star</mat-icon> 4.5 Out of 5
                                </button>
                                <span>( 100 ratings on 2 services)</span>
                            </div>
                            <p>{{serviceH.description}}</p>
                        </div>
                    </div>
                    <div fxFlex="50">
                        <div class="service-content">
                            <ul>
                                <li>
                                    <mat-icon>check</mat-icon> In publishing and graphic design
                                </li>
                                <li>
                                    <mat-icon>check</mat-icon> Lorem ipsum is a placeholder text commonly
                                </li>
                                <li>
                                    <mat-icon>check</mat-icon> A document or a typeface without relying on meaningful
                                    content
                                </li>
                                <li>
                                    <mat-icon>check</mat-icon> In publishing and graphic design
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="service-tab" style="background-color: #fdfdfd;">
            <div class="container">
                <div fxLayout="row" fxLayoutGap="30px">
                    <div fxFlex="65" class="pt-5">
                        <mat-tab-group>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon>description</mat-icon>
                                    <p>Service Overview</p>
                                </ng-template>

                                <div class="description-block">
                                    <h2>Overview</h2>
                                    <div class="service-content">
                                        {{serviceH.overview}}
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Tab Two">
                                <ng-template mat-tab-label>
                                    <mat-icon>live_help</mat-icon>
                                    <p>FAQ</p>
                                </ng-template>
                                <div class="description-block">
                                    {{serviceH.faq}}
                                    <!-- <mat-accordion>
                                <mat-expansion-panel *ngFor="let serviceHFaq of serviceDetail.faq" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{serviceHFaq.question}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>{{serviceHFaq.answer}}</p>
                                </mat-expansion-panel>
                            </mat-accordion> -->
                                </div>
                            </mat-tab>

                            <mat-tab label="Tab Two">
                                <ng-template mat-tab-label>
                                    <mat-icon>stars</mat-icon>
                                    <p>Reviews</p>
                                </ng-template>
                                <div class="reviews_comment">
                                    <div fxLayout="row">
                                        <div fxFlex="15">
                                            <div class="review-image">
                                                <img src="assets/images/user.jpg" alt="">
                                            </div>
                                        </div>
                                        <div fxFlex="85" class="review-details">
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <h4>Tanvir <i>- October 05, 2020</i></h4>
                                            <p>Very good service, highly recommanded, I am very satisfied get this
                                                work.I will
                                                work with again.</p>
                                        </div>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div fxLayout="row" class="margin-top">
                                        <div fxFlex="15">
                                            <div class="review-image">
                                                <img src="assets/images/user.jpg" alt="">
                                            </div>
                                        </div>
                                        <div fxFlex="85" class="review-details">
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <h4>Hajrat <i>- October 06, 2020</i></h4>
                                            <p>Very good service, highly recommanded, I am very satisfied get this
                                                work.I will
                                                work with again.</p>
                                        </div>
                                    </div>

                                </div>
                            </mat-tab>

                            <mat-tab label="Tab Two">
                                <ng-template mat-tab-label>
                                    <mat-icon>description</mat-icon>
                                    <p>Details</p>
                                </ng-template>
                                <div class="description-block">
                                    <div class="content">
                                        <h2>Details</h2>
                                        {{serviceH.detail}}
                                    </div>
                                </div>
                            </mat-tab>

                        </mat-tab-group>
                    </div>
                    <div fxFlex="35" *ngIf="serviceChild.length > 0">
                        <div class="service-sub-category">
                            <h2>{{serviceH.title}}</h2>

                            <div *ngFor="let serviceC of serviceChild" matRipple class="tab-item"
                                (click)="openAddToCart()">
                                <div>
                                    <img src="assets/images/laptop.jpg">
                                    <div>
                                        {{serviceC.title}}
                                    </div>
                                </div>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="related-service pt-5 pb-5">
            <div class="container">
                <div class="title">
                    <h2>Related Service</h2>
                </div>

                <owl-carousel-o [options]="relatedService" class="categoryCarousel">
                    <ng-template carouselSlide>
                        <div matRipple class="tab-item">
                            <div>
                                <img src="assets/images/laptop2.jpg">
                                <div>
                                    Laptop Service
                                </div>
                            </div>
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div matRipple class="tab-item">
                            <div>
                                <img src="assets/images/laptop.jpg">
                                <div>
                                    Desktop Service
                                </div>
                            </div>
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div matRipple class="tab-item">
                            <div>
                                <img src="assets/images/laptop2.jpg">
                                <div>
                                    Laptop Service
                                </div>
                            </div>
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div matRipple class="tab-item">
                            <div>
                                <img src="assets/images/laptop.jpg">
                                <div>
                                    Desktop Service
                                </div>
                            </div>
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </div>
                    </ng-template>
                </owl-carousel-o>

            </div>
        </div>
    </div>
</div>