
.service-area{
    background-position: left center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding:40px 0;
    color:#fff;
    font-size:15px;
}
.service-area:after{
    position: absolute;
    content:"";
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
    z-index: -1;
}

.breadcrumb{
    padding-bottom: 30px;
}
.breadcrumb ul li{
    display: inline-block;
    color:#fff;
    font-size: 15px;
    padding-right:30px;
    position: relative;
}
.breadcrumb ul li a{
    color:#ddd;
    text-decoration: none;
}
.breadcrumb ul li:after{
    content:"";
    position: absolute;
    right:15px;
    height: 5px;
    width: 5px;
    background-color:#fff;
    top:50%;
    transform:translateY(-50%)
}
.breadcrumb ul li:last-child:after{
    width: 0;
}

.social-share{
    display: flex;
}
.social-share span{
    margin-right: 8px;
}
.social-share ul li{
    display: inline-block;
}
.social-share ul li img{
    height: 18px;
    background-color:#fff;
    padding:2px;
    width: auto!important;
}

.service-content h2{
    color:#fff;
    font-size:30px;
}
.service-content .ratings span{
    margin-left: 20px;
    color:#fff;
}
.service-content ul li{
    padding: 9px 0;
    display: flex;
    align-items: center;
}
.service-content ul li .mat-icon{
    margin-right: 8px;
    background-color:#FF4081;
    color:#fff;
    border-radius: 50%;
}





/* service tab */
.mat-tab-group {
	flex-direction: row;
}
.mat-icon {
	margin-right: 10px;
}
.mat-tab-label {
	height: 50px;
}
img{
	width: 120px!important;
	margin-right: 10px;
	border-radius:4px;
}
.tab-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	border-radius: 4px;
	box-shadow: 0 1px 4px -1px rgba(0,0,0,.15);
	cursor: pointer;
	transition: .6s;
}
.tab-item>div {
	display: flex;
	align-items: center;
	font-size: 16px;
}
.tab-item ul li{
	display: inline-block;
}
.tab-item:hover {
	background-color: #eee;
	box-shadow: 0 3px 1px -1px rgba(0,0,0,.15);
}




.service-sub-category{
    position: relative;
    top:-50px;
    z-index: 1;
    background-color:#fff;
    padding:20px;
    border-radius: 4px;
    box-shadow: 5px 15px 20px 2px rgba(0,0,0,0.06);
}
.service-sub-category h2{
    margin-top: 0;
}
.service-sub-category div img{
    width: 70px!important;
}
.title h2{
    margin-top: 0;
}

.review-image img{
	width: 50px !important;
	border-radius: 50%;
}

.review-details {
	padding: 5px 0;
}

.review-details mat-icon{
    margin-right: 2px;
    color:gold;
}

.review-details h4{
    margin:3px 0;
}
.review-details h4 i{
    font-size: 12px;
    font-weight: 200;
    color:#444;
    margin-left: 10px;
}
.review-details p{
    margin: 0;
}

.margin-top{
    margin-top: 10px;
}

.content h2, h4, p{
    margin:2px 0;
}
