/* service tab */
.mat-tab-group {
	flex-direction: row;
}
.mat-tab-label {
	height: 50px;
}
.input-full-width{
    width: 100%;
}

/* description area */
.block{
    max-width:500px;
    width: 100%;
}
h2{
    margin-top: 0;
}
.mat-list span{
    font-weight:500;
    color:#000;
    margin-right: 8px;
    display: inline-block;
}

.profile_icon img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile_icon {
    position: relative;
}
.mat-focus-indicator.mat-mini-fab.mat-button-base.mat-basic{
	position: absolute;
	transform: translateX(-38px);
	bottom: 10px;
}

.mb-5{
    margin-bottom: 100px;
}
.mb-2{
    margin-bottom: 20px!important;
}
.flex{
    display: flex;
    align-items: center;
    padding:0 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    transition:.5s;
}
.flex h4{
    margin-left: 10px;
}


mat-form-field, mat-radio-group{
    display: block;
    width: 90%;
}
mat-radio-group {
    text-align: left;
}
.content_list button[type="submit"] {
	margin: 12px 10px 0 0;

}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

mat-label {
	margin-right: 12px;
}  


.mat-card-content {
	margin: 0;
}