/* service tab */
.mat-tab-group {
	flex-direction: row;
}
.mat-tab-label {
	height: 50px;
}
.text-center{
    text-align: center;
}


/* description area */
.block{
    max-width:700px;
    width: 100%;
}
.mat-list span{
    font-weight:500;
    color:#000;
    margin-right: 8px;
    display: inline-block;
}
.mat-list-base .mat-list-item{
    font-size: 15px!important;
} 

.profile_icon img{
    width: 120px;
}



.mb-5{
    margin-bottom: 100px;
}


.flex{
    display: flex;
    align-items: center;
    padding:0 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    transition:.5s;
}
.flex h4{
    margin-left: 10px;
}




.gradient{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 5px 5px 0 0;
}
.gradient h2{
    padding:25px 15px;
    color:#fff;
    margin: 0;
}

.validity{
    display: flex;
    align-items: center;
}

.offers_content>h1 {
	margin-top: 0;
}
