<div class="profile-tab pt-5 pb-5" style="background-color: #fdfdfd;">
    <div class="container">
        <div fxLayout="row" fxLayoutGap="30px">
            <div fxFlex="">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <p>My Account</p>
                        </ng-template>

                        <div class="block text-center">
                            <h2>Personal Info</h2>
                            <div class="profile_icon">
                                <img src="https://www.flaticon.com/svg/static/icons/svg/848/848006.svg" alt="">
                            </div>
                            <mat-list>
                                <mat-list-item><span>Name: </span> Md.Tanvir Rahman</mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item><span>Phone: </span> +8801749996663</mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item><span>Email: </span> 123tanvirlove@gmail.com</mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item><span>Date Of Birth: </span> 18-02-1996</mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item><span>Gender: </span> Male</mat-list-item>
                              </mat-list>
                        </div>

                    </mat-tab>
                    <mat-tab label="Tab Two">
                        <ng-template mat-tab-label>
                            <p>My Addresses</p>
                        </ng-template>
                        <div class="block">
                            <div class="address_content">
                                <h2>Saved Addresses</h2>
                                <p>Save your frequently used addresses to make life easier </p>
                                <div fxLayout="row" fxLayoutGap="15px">
                                    <div fxFlex="50">
                                        <div class="flex" matRipple>
                                            <mat-icon>home</mat-icon>
                                            <h4>Add Home</h4>
                                        </div>
                                    </div>
                                    <div fxFlex="50">
                                        <div class="flex" matRipple>
                                            <mat-icon>home</mat-icon>
                                            <h4>Add Work</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab Two">
                        <ng-template mat-tab-label>
                            <p>My Offers</p>
                        </ng-template>
                        <div class="offers_content">
                            <h2>My Offers</h2>
                            <div fxLayout="row" fxLayoutGap="15px">
                                <div fxFlex="33.33">
                                    <mat-card class="example-card">
                                        <div class="gradient">
                                            <h2> Promo BEAUTY
                                                BEAUTY
                                                Tk 300 off </h2>
                                        </div>
                                        <mat-card-content>
                                            <p>
                                                STARTER PACK promo code for any type of Beauty service
                                            </p>
                                            <div class="validity">
                                                <mat-icon>hourglass_empty</mat-icon><i>validity:1 Feb-31 Dec </i>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-stroked-button>View Details</button>
                                            <button mat-raised-button color="accent">Apply Now</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                                <div fxFlex="33.33">
                                    <mat-card class="example-card">
                                        <div class="gradient">
                                            <h2> Promo CLEANING
                                                CLEANING<br>
                                                9% off </h2>
                                        </div>
                                        <mat-card-content>
                                            <p>
                                                STARTER PACK promo code for any type of Beauty service
                                            </p>
                                            <div class="validity">
                                                <mat-icon>hourglass_empty</mat-icon><i>validity:1 Feb-31 Dec </i>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-stroked-button>View Details</button>
                                            <button mat-raised-button color="accent">Apply Now</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                                <div fxFlex="33.33">
                                    <mat-card class="example-card">
                                        <div class="gradient">
                                            <h2> LPG100<br>
                                                LPG Offer<br>
                                                Tk 100 off </h2>
                                        </div>
                                        <mat-card-content>
                                            <p>
                                                STARTER PACK promo code for any type of Beauty service
                                            </p>
                                            <div class="validity">
                                                <mat-icon>hourglass_empty</mat-icon><i>validity:1 Feb-31 Dec </i>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-stroked-button>View Details</button>
                                            <button mat-raised-button color="accent">Apply Now</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutGap="15px">
                                <div fxFlex="33.33">
                                    <mat-card class="example-card">
                                        <div class="gradient">
                                            <h2> Promo BEAUTY
                                                BEAUTY
                                                Tk 300 off </h2>
                                        </div>
                                        <mat-card-content>
                                            <p>
                                                STARTER PACK promo code for any type of Beauty service
                                            </p>
                                            <div class="validity">
                                                <mat-icon>hourglass_empty</mat-icon><i>validity:1 Feb-31 Dec </i>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-stroked-button>View Details</button>
                                            <button mat-raised-button color="accent">Apply Now</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                                <div fxFlex="33.33">
                                    <mat-card class="example-card">
                                        <div class="gradient">
                                            <h2> Promo CLEANING
                                                CLEANING<br>
                                                9% off </h2>
                                        </div>
                                        <mat-card-content>
                                            <p>
                                                STARTER PACK promo code for any type of Beauty service
                                            </p>
                                            <div class="validity">
                                                <mat-icon>hourglass_empty</mat-icon><i>validity:1 Feb-31 Dec </i>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-stroked-button>View Details</button>
                                            <button mat-raised-button color="accent">Apply Now</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                                <div fxFlex="33.33">
                                    <mat-card class="example-card">
                                        <div class="gradient">
                                            <h2> LPG100<br>
                                                LPG Offer<br>
                                                Tk 100 off </h2>
                                        </div>
                                        <mat-card-content>
                                            <p>
                                                STARTER PACK promo code for any type of Beauty service
                                            </p>
                                            <div class="validity">
                                                <mat-icon>hourglass_empty</mat-icon><i>validity:1 Feb-31 Dec </i>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-stroked-button>View Details</button>
                                            <button mat-raised-button color="accent">Apply Now</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab Two">
                        <ng-template mat-tab-label>
                            <p>My Promosions</p>
                        </ng-template>
                        <div class="description-block">
                            <div class="content">
                                <h2>Details</h2>
                                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a
                                    document or a typeface without relying Lorem ipsum is a placeholder text commonly
                                    used to demonstrate the visual form of a document or a typeface without relying</p>
                                <h4>About Fix All's Laptop Repairing Service</h4>
                                <p>Lorem ipsum is a placeholder text commonly
                                    used to demonstrate the visual form of a document or a typeface without relying</p>

                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab Two">
                        <ng-template mat-tab-label>
                            <p>Free Services</p>
                        </ng-template>
                        <div class="description-block">
                            <div class="content">
                                <h2>Details</h2>
                                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a
                                    document or a typeface without relying Lorem ipsum is a placeholder text commonly
                                    used to demonstrate the visual form of a document or a typeface without relying</p>
                                <h4>About Fix All's Laptop Repairing Service</h4>
                                <p>Lorem ipsum is a placeholder text commonly
                                    used to demonstrate the visual form of a document or a typeface without relying</p>

                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>