/* service tab */
.mat-tab-group {
	flex-direction: row;
}
.mat-tab-label {
	height: 50px;
}


/* description area */
.block{
    max-width:500px;
    width: 100%;
}
h2{
    margin-top: 0;
}
.mat-list span{
    font-weight:500;
    color:#000;
    margin-right: 8px;
    display: inline-block;
}
.mat-list-base .mat-list-item{
    font-size: 15px!important;
} 

.profile_icon img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile_icon {
    position: relative;
}
.mat-focus-indicator.mat-mini-fab.mat-button-base.mat-basic{
	position: absolute;
	transform: translateX(-38px);
	bottom: 10px;
}

.mb-5{
    margin-bottom: 100px;
}
.mb-2{
    margin-bottom: 20px!important;
}
.flex{
    display: flex;
    align-items: center;
    padding:0 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    transition:.5s;
}
.flex h4{
    margin-left: 10px;
}



.gradient{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 5px 5px 0 0;
}
.gradient h2{
    padding:25px 15px;
    color:#fff;
    margin: 0;
}

.validity{
    display: flex;
    align-items: center;
}
.offers_content>h1 {
	margin-top: 0;
}
mat-form-field, mat-radio-group{
    display: block;
    width: 90%;
}
mat-radio-group {
    text-align: left;
}
.mat-focus-indicator.mat-stroked-button.mat-button-base {
	margin-top: 12px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

mat-label {
	margin-right: 12px;
}  


.mat-card-content {
	margin: 0;
}