<div>
    <div class="service-area" style="background-image:url('assets/images/laptop-servicing.jpg');">
        <div class="container">
            <div fxLayout="row wrap">
                <div fxFlex="80%" fxFlex.sm="70%" fxFlex.xs="100%">
                    <div class="breadcrumb pb-5">
                        <ul>
                            <li> <a href="#">Home</a> </li>
                            <li> <a href="#">Commercial</a> </li>
                            <li> <a href="#">Electronics</a> </li>
                            <li>Laptop Servicing</li>
                        </ul>
                    </div>
                </div>
                <div fxFlex="20%" fxFlex.sm="30%" fxFlex.xs="100%">
                    <div class="social-share">
                        <span>Share on</span>
                        <ul>
                            <li><a href="#"><img src="https://www.flaticon.com/svg/static/icons/svg/733/733547.svg"
                                        alt=""></a></li>
                            <li><a href="#"><img src="https://www.flaticon.com/svg/static/icons/svg/1409/1409937.svg"
                                        alt=""></a></li>
                            <li><a href="#"><img src="https://www.flaticon.com/svg/static/icons/svg/174/174857.svg"
                                        alt=""></a></li>
                            <li><a href="#"><img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111463.svg"
                                        alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50" fxFlex.sm="100%" fxFlex.xs="100%">
                    <div class="service-content">
                        <h2>Service Title</h2>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
                    </div>
                </div>
            </div>


            
        </div>
    </div>

        <div class="related-service pt-5 pb-5">
            <div class="container">
                <div class="title">
                    <h2>Services</h2>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="15px grid">
                    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let num of [1,2,3,4,5]">
                        <div matRipple class="tab-item">
                            <div>
                                <img src="assets/images/laptop2.jpg">
                                <div>
                                    Laptop Service {{num}}
                                </div>
                            </div>
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </div>
                    </div>
                </div>
                
    
            </div>
        </div>
    
    
</div>